numpy==1.23.4
face_alignment==1.4.1
imageio==2.19.3
imageio-ffmpeg==0.4.7
librosa==0.9.2 # 
numba
resampy==0.3.1
pydub==0.25.1 
scipy==1.5.3
kornia==0.6.8
tqdm
yacs
pyyaml  
joblib==1.1.0
scikit-image==0.19.3
basicsr
facexlib
gradio
gfpgan
dlib-bin
